.hike-map-container {
  padding: 35px;
  margin: 35px;
  border-radius: 9px;
  width: 50%;
  background: white;
  box-shadow: 1px 1px 1px 1px black;
  margin: 0 auto;
  height: 550px;
}

.leaflet-container {
  height: 500px !important;
}

amplify-s3-image {
  --height: 200px;
  --width: 400px;
}

.hike-card, .hike-card img {
  width: 18rem;
}

