.App {
  text-align: center;
}

.main {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  color: #2C2C2C;
  background: white;
}

/* .main {
  background-image: url("hike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 3px 3px 10px 1px #00000069;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
