.nav {
  /* flex box layout */
  display: flex;
  justify-content: end;
  align-items: center;

  margin: 0 0 30px;
  overflow: hidden;
  background: #2b3a3d;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  text-decoration: underline;
  color: white;
}

.logo {
  height: 125px;
}

.pro-sidebar {
  height: initial !important;
}

.pro-sidebar-header {
  text-align: center;
}

.pro-sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}